@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');

html, body{/*style de la page*/
    margin: 0; padding: 0;
    background-color: #cee8f7;
    font-family: 'Lato';
    
}

header {
  display: flex;
  background:#EFEFEB;
  align-items:center;
  justify-content:space-between;
  padding: 1rem;

}
header .logo {
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration: none;
    color:#699bf7;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1px;
}
header nav ul {
  display:flex;
  gap:12px;
  list-style:none
}

.search {
  height:50px;
  background:black;
  padding: 1rem;
  display:flex;
  margin-top:-90px;
  transition:all 150ms ease-in;
}

.search.open {
  margin-top:0;
}

.link{/*apparence des liens*/
    text-decoration: none;
    color : black;
    text-transform: uppercase;
    font-weight: 700;
}

/*######################################################################################################################*/
/*footer*/

.footer{
	background : #EFEFEB;
	position : fixed;
	width : 100%;
	left : 0px;
	bottom : 0px;
	height : 7%;
	text-align : center;
}

.name{
    margin: 8px;padding: 4px;
    color:#699bf7;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}

.img-search {
    max-width : 50px;
    max-height : 50px;
}

.left{ /*mettre a gauche*/
    float: left;
}

.right{/*mettre a droite*/
    float: right;
}

.center{/*mettre au centre*/
    float: center;
}

/*################################################################################*/
/*page*/

.title{
	display:flex;
	text-decoration: none;
    color:#699bf7;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}

.music-container {
	display: flex;
	margin: 0px;

  overflow: scroll;
  -ms-overflow-style:none;
  overflow-x: auto;
}

/*.ariste-container {
	display: flex;
	margin: 0px;

  overflow: scroll;
  -ms-overflow-style:none;
  overflow-x: auto;
}*/



.music-container img {
	max-height:200px;
	max-width:200px;
	margin-right: 2%;
	border-radius:5%; 

	/*flex-direction: column;
  flex-wrap: wrap;*/
}

.album-container {
	display: flex;
	margin: 0px;

  overflow: scroll;
  -ms-overflow-style:none;
  overflow-x: auto;
}

.album-container img {
	max-height:200px;
	max-width:200px;
	margin-right: 5%;
	border-radius:5%;
  margin-bottom: 5%;
}

.artiste-container {
	display: flex;
	margin: 0px;

  overflow: scroll;
  -ms-overflow-style:none;
  overflow-x: auto;
}

.artiste-container img {
	max-height:200px;
	max-width:200px;
	margin-right: 5%;
	border-radius:50%;
}




/*################################################################################"*/
/*telephone*/
@media screen and (max-width: 780px) {
	header {
		flex-direction:column;
	}
}

/*################################################################################"*/
/*scrollbar*/
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-moz-scrollbar {
  width: 0px;
  background-color: transparent;
}

body::-webkit-scrollbar{
  display: none;
}

/*.music-container::-webkit-scrollbar{width: 0!important;}*/